@tailwind base;
@tailwind components;
@tailwind utilities;

.tenor-gif-embed {
    pointer-events: none;
}

html {
    //background-image: url('https://i.pinimg.com/564x/44/1f/c8/441fc876392ed7e9a95bf412c04d9f54.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@font-face {
    font-family: 'CWDangamAsac-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
        format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2')
        format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PartialSansKR-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2')
        format('woff2');
    font-weight: normal;
    font-style: normal;
}

.title {
    font-family: 'PartialSansKR-Regular';

    font-weight: 800;
    font-size: 180px;
}

.text-stroke-2 {
    -webkit-text-stroke: 0.2px white;
}

.name {
    font-family: 'PartialSansKR-Regular';
    font-size: 50px;
    -webkit-text-stroke: 1px black;
}
